
<section class="edit_category_filter">
    <h1 class="title category-title">Редактирование дохода/расхода</h1>
    <input class="category-input category-input-margin" type="text" value="Доход" >
    <input class="category-input category-input-margin" type="text" value="Зарплата">
    <input class="category-input category-input-margin" type="text" value="500$">
    <input class="category-input category-input-margin" type="text" value="11.09.2022">
    <input class="category-input" type="text" value="Комментарий...">
    <div class="edit_category_filter-actions">
        <button class="button button_green">Сохранить</button>
        <button class="button button_red">Отмена</button>
    </div>
</section>
