<section class="main">
    <h1 class="title">Главная</h1>
    <div class="main_actions">
        <button class="main_btn" id="todayButton">Сегодня</button>
        <button class="main_btn">Неделя</button>
        <button class="main_btn">Месяц</button>
        <button class="main_btn">Год</button>
        <button class="main_btn">Все</button>
        <button class="main_btn">Интервал</button>
        <div>c
            <input type="date" class="date-input">
            по
            <input type="date" class="date-input">
        </div>
    </div>
    <div class="canvas">
        <div class="myChartContainer">
            <canvas id="myChart_1"></canvas>
        </div>

        <div class="myChartContainer ">
            <canvas id="myChart_2"></canvas>
        </div>
    </div>
</section>




